body{
font-family:Arial;
margin-top:70px;
}

.hero{
background:#f5f6f7;
padding:80px 0;
}

.profile-img{
width:160px;
border-radius:50%;
border:5px solid #c9a227;
}

.hero-text{
max-width:600px;
margin:auto;
}

.section-title{
text-align:center;
margin-bottom:40px;
font-weight:700;
}

.section-light{
background:#f8f9fa;
padding:60px 0;
}

#skills{
padding:60px 0;
}

#certification{
padding:60px 0;
}

.progress{
height:10px;
}

.bg-gold{
background:#c9a227;
}

.btn-gold{
background:#c9a227;
color:white;
}

.btn-gold:hover{
background:#a3831e;
color:white;
}

.text-gold{
color:#c9a227;
}

.cert-card{
max-width:400px;
}

.footer{
background:#1f1f1f;
color:white;
text-align:center;
padding:20px;
}
